---
import { type CollectionEntry, getCollection } from 'astro:content';
import Layout from '@layouts/Layout.astro';

export async function getStaticPaths() {
	const posts = await getCollection('blog');

	return posts.map((post) => {
		return {
			params: {
				slug: post.slug
			},
			props: {
				post
			}
		};
	});
}

type Props = {
	post: CollectionEntry<'blog'>;
};

const { post } = Astro.props;
const {
	data: { createdAt, title, updatedAt }
} = post;
const { Content } = await post.render();
---

<Layout title={title}>
	<div class="post-wrapper">
		<h1 class="post-title">
			{title}
		</h1>
		<p class="post-date">
			Posted on:
			<time>{createdAt.toDateString()}</time> | Updated on: <time>{updatedAt.toDateString()}</time>
		</p>
		<article class="post-body">
			<Content />
		</article>
	</div>
</Layout>

<style>
	.post-wrapper {
		margin: 0 20px;
		padding-bottom: var(--spacing-xl);
	}

	.post-date {
		font-size: smaller;
		color: var(--color-secondary);
		@media (prefers-color-scheme: dark) {
			color: var(--color-secondary);
		}
	}

	.post-body {
		img {
			display: block;
			max-width: var(--max-content-width);
			width: auto;
			height: auto;
		}

		li:not(:last-child) {
			margin-bottom: var(--spacing-md);
		}
	}
</style>
