@import url('https://fonts.googleapis.com/css2?family=Fira+Code&family=Roboto&family=Roboto+Slab&display=swap');

:root {
    --content-width: 1060px;
    --breakpoint-tablet: 768px;
    --breakpoint-mobile: 480px;

    --astro-gradient: linear-gradient(0deg, #4f39fa, #da62c4);
    --bg: #16161a;
    --bg-tint: #242629;
    --bg-code: #0d111700;
    --text: #94a1b2;
    --text-light: #fffffe;
    --purple: #7f5af0;
    --purple-tint: #baa4ff;
    --green: #2cb67d;
    
    --font-fira: 'Fira Code', monospace;
    --font-roboto: 'Roboto', sans-serif;
    --font-roboto-slab: 'Roboto Slab', serif;
  }