---
import Layout from '../layouts/Layout.astro';
import ClimbingBlock from '../components/ClimbingBlock.svelte';
---

<Layout title="Alaska Climbing">
	<div class="container">
		<div>
			<h1>Alaska Climbing</h1>
			<p class="updated-at">Last updated: 2023-06-02</p>
		</div>

		<h2>Bouldering</h2>
		<ClimbingBlock
			title="Bird Creek Boulders"
			imageSrc="https://mountainproject.com/assets/photos/climb/120749240_large_1621726930.jpg?cache=1683070043"
			mtProjectUrl="https://www.mountainproject.com/area/106969433/bird-creek-boulders"
			pros={[
				'Less than 30 minute drive from the AirBnB',
				'Easy approach. Less than 10 minute hike from parking lot.',
				"Good grade spread. Multiple v1's and at least one route of each subsequent grade up to v9",
				'Insanely beautiful views of the inlet and mountains.'
			]}
			cons={[
				'Only twelve routes, might not be enough to make a day out of.',
				'Not a ton of other bouldering options nearby.'
			]}
		/>

		<ClimbingBlock
			title="Hatcher Pass"
			imageSrc="https://mountainproject.com/assets/photos/climb/107184786_large_1494171859.jpg?cache=1328388401"
			mtProjectUrl="https://www.mountainproject.com/area/106207101/hatcher-pass"
			pros={[
				'The climbing "Mecca" of Alaska.',
				'Insane number of with multiple areas to choose from.',
				'Huge range of boulders. Everyone will have something to climb'
			]}
			cons={[
				'Not a ton of info on the approach, but it looks like it could be a bit of a hike.',
				'60 to 70 miles away from the AirBnB. Would take about an hour and a half to get there and back'
			]}
		/>

		<hr />

		<h2>Sport & Multipitch</h2>
		<ClimbingBlock
			title="Seward Highway - Pivot Point"
			imageSrc="https://mountainproject.com/assets/photos/climb/109000421_large_1494302472.jpg?cache=1627089114"
			mtProjectUrl="https://www.mountainproject.com/area/107137398/pivot-point"
			pros={[
				'Short drive. 25 mins south of Anchorage.',
				'Ton of climbs, book describes as sport OR high ball boulders in some sections.',
				'Easy-ish 10 to 20 min hike depending on seciton',
				'Great views of the bay and surrounding mountains.'
			]}
			cons={['Ton of miquitoes', 'No multipitch routes']}
		/>
		<ClimbingBlock
			title="Eagle River"
			imageSrc="https://www.outdoorproject.com/sites/default/files/styles/hero_image_desktop/public/1540583285/img_3962.jpg?itok=DgtHMdx6"
			mtProjectUrl="https://www.mountainproject.com/area/109175270/eagle-river"
			pros={[
				'Short drive. 20 mins north of Anchorage.',
				'25 climbs to choose from',
				'Easy approach.'
			]}
			cons={[
				'Not a ton of range. Only 2 climbs under 5.10, and most of the climbs hover 5.10b/50.10c',
				'Area seems like it was a TON of misquitoes.'
			]}
		/>
		<ClimbingBlock
			title="Hatcher Pass"
			imageSrc="https://mountainproject.com/assets/photos/climb/111975916_large_1494314410.jpg?cache=1467721100"
			mtProjectUrl="https://www.mountainproject.com/area/106207101/hatcher-pass"
			pros={[
				'The climbing "Mecca" of Alaska.',
				'Insane number of with multiple areas to choose from.',
				'Huge range of boulders. Everyone will have something to climb'
			]}
			cons={[
				'Same as bouldering section...',
				'Not a ton of info on the approach, but it looks like it could be a bit of a hike.',
				'60 to 70 miles away from the AirBnB. Would take about an hour and a half to get there and back'
			]}
		/>
	</div>
</Layout>

<style>
	.container {
		margin: 0 auto;
		max-width: var(--content-width);
		font-family: var(--font-fira);
		color: var(--text-light);
	}

	h1 {
		text-align: center;
		text-decoration: underline;
	}

	span {
		font-size: 12px;
		font-weight: 400;
		text-align: center;
		text-decoration: none;
	}

	hr {
		border: 0;
		height: 1px;
		background: #333;
		background-image: var(--astro-gradient);
	}

	/* var(--content-width) */
	@media (max-width: 1060px) {
		.container {
			padding: 0 1rem;
		}
	}
</style>
