---
import '../styles/globals.css';
import PostCard from '../components/PostCard.astro';
import PostContainerTimeline from '../components/PostContainerTimeline.astro';
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';

const mdPosts = await Astro.glob('./blog/*.md');
const mdxPosts = await Astro.glob('./blog/*.mdx');
const nonDraftPosts = [...mdPosts, ...mdxPosts] 
	.filter((post) => !post.frontmatter.draft)
	.sort((a, b) => {
		// @ts-ignore
		return new Date(b.frontmatter.date) - new Date(a.frontmatter.date);
	});
---

<Layout title="Welcome to Astro.">
	<main>
		<div class="container">
			<Header />
			<PostContainerTimeline>
				{
					nonDraftPosts.map((post) => {
						const { url } = post;
						const { date, title, tag } = post.frontmatter;
						return <PostCard date={date} title={title} tag={tag} url={url} />;
					})
				}
			</PostContainerTimeline>
			<ul role="list" class="link-card-grid"></ul>
		</div>
	</main>
</Layout>

<style>
	.container {
		margin: 0 auto;
		max-width: var(--content-width);
	}
	@media (max-width: 1060px) {
		.container {
			padding: 0 1rem;
		}
	}
</style>
