---
import { css } from 'styled-system/css';
import { getCollection } from 'astro:content';
import Header from '../components/Header.astro';
import PostCard from '../components/PostCard.astro';
import PostContainer from '../components/PostTimeline.astro';
import Layout from '@layouts/Layout.astro';

const posts = await getCollection('blog', (post) => {
	return import.meta.env.MODE !== 'production' || !post.data.draft;
});
---

<Layout title="Blog - tpolito">
	<div class={css({})}>
		<Header />

		<PostContainer>
			{
				posts
					.sort((a, b) => b.data.createdAt.getTime() - a.data.createdAt.getTime())
					.map((post) => <PostCard post={post} />)
			}
		</PostContainer>
		<ul role="list" class="link-card-grid"></ul>
	</div>
</Layout>
