---
import { getCollection } from 'astro:content';
import Header from '../components/Header.astro';
import PostCard from '../components/PostCard.astro';
import PostContainer from '../components/PostTimeline.astro';
import Layout from '@layouts/Layout.astro';

const posts = await getCollection('blog', (post) => {
	return import.meta.env.MODE !== 'production' || !post.data.draft;
});

const categories = [...new Set(posts.map((post) => post.data.category).flat())];
---

<Layout title="Blog - tpolito">
	<Header />

	<p>
		Hello! Welcome to my small corner of the internet. I can't promise there is anything interesting
		going on overhere.
	</p>

	<PostContainer categories={categories}>
		{
			posts
				.sort((a, b) => b.data.createdAt.getTime() - a.data.createdAt.getTime())
				.map((post) => <PostCard post={post} />)
		}
	</PostContainer>
</Layout>

<style></style>
