---
import PostCard from '../components/PostCard.astro';
import PostContainer from '../components/PostTimeline.astro';
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import { divider } from 'styled-system/patterns';
import { css } from 'styled-system/css';

const mdPosts = await Astro.glob('./blog/*.md');
const mdxPosts = await Astro.glob('./blog/*.mdx');
const nonDraftPosts = [...mdxPosts, ...mdPosts]
	.filter((post) => !post.frontmatter.draft)
	.sort((a, b) => {
		// @ts-ignore
		return new Date(b.frontmatter.date) - new Date(a.frontmatter.date);
	});
---

<Layout title="Home Page - Blog">
	<div class={css({})}>
		<Header />

		<PostContainer>
			{
				nonDraftPosts.map((post) => {
					const { url } = post;
					const { date, title, tag } = post.frontmatter;
					return <PostCard date={date} title={title} tag={tag} url={url} />;
				})
			}
		</PostContainer>
		<ul role="list" class="link-card-grid"></ul>
	</div>
</Layout>
