---
import Layout from '../layouts/Layout.astro';
import WorkingOnContainer from '../components/containers/WorkingOnContainer.astro';
import Header from '../components/Header.astro';

const posts = await Astro.glob('./blog/*.md');
const nonDraftPosts = posts.filter((post) => !post.frontmatter.draft);
---

<Layout title="Home Page - Blog">
	<main>
		<div class="container">
			<Header subTitle="These are some of my projects." />
			<WorkingOnContainer />

			<ul role="list" class="link-card-grid"></ul>
		</div>
	</main>
</Layout>

<style>
	.container {
		margin: 0 auto;
		max-width: var(--content-width);
		max-height: 100vh;
	}
</style>
