---
interface Props {
	title?: string;
	subtitle?: string;
}

const {
	title = "Hello there, I'm Tyler 👋",
	subtitle = 'I am a software enginneer and game developer who loves to write about software engineering, games, and other hobbies.'
} = Astro.props;
---

<h1>
	{title}
</h1>
<div>
	<p>
		{subtitle}
	</p>
</div>

<div class="divider"></div>

<style>
	.divider {
		margin: 2rem 0;
		border-bottom: 1px solid #000;

		@media (prefers-color-scheme: dark) {
			border-bottom: 1px solid #fff;
		}
	}
</style>
