---
interface Props {
	title?: string;
	subtitle?: string;
}

const { title = 'Tyler Polito', subtitle = 'Software engineer. Rock climber. Game player.' } =
	Astro.props;
---

<h1 class="heading">
	{title}
</h1>
<p class="subtitle">
	{subtitle}
</p>

<div class="divider"></div>

<style>
	.heading {
		margin-bottom: 0;
	}

	.subtitle {
		margin-top: var(--spacing-sm);
	}

	.divider {
		margin: 2rem 0;
		border-bottom: 1px solid #000;

		@media (prefers-color-scheme: dark) {
			border-bottom: 1px solid #fff;
		}
	}
</style>
