---
import { css } from 'styled-system/css';
import clsx from 'clsx';

const categoryButtonStyles = css({
	backgroundColor: 'transparent',
	color: 'purple',
	cursor: 'pointer',
	fontFamily: 'roboto',
	fontSize: '.8rem',
	textDecoration: 'capitalize',
	borderWidth: '1px',
	borderColor: 'purple',
	borderRadius: '4px',
	p: '4px 6px',
	'&:hover': {
		color: 'purpleTint',
		borderColor: 'purpleTint'
	}
});

const activeCategoryButtonStyles = css({
	// TODO: Fix this
	color: 'purpleTint !important',
	borderColor: 'purpleTint'
});

type Props = {
	categories: string[];
	currentCategory?: string;
};

const { categories } = Astro.props;
const { pathname } = Astro.url;
---

<div class={css({ p: '10px' })}>
	<h2 class={css({ color: 'purple', fontFamily: 'robotoSlab', fontSize: '1.5rem', mb: '0.5rem' })}>
		Blog
	</h2>
	<div class={css({ mb: '1rem' })}>
		<a
			class={clsx(
				pathname === '/' && activeCategoryButtonStyles,
				categoryButtonStyles,
				css({
					mr: '0.5rem',
					'&:hover': {
						textDecoration: 'underline'
					}
				})
			)}
			href="/">all</a
		>{
			categories.map((category) => (
				<a
					class={clsx(
						categoryButtonStyles,
						pathname === `/category/${category}/` && activeCategoryButtonStyles,
						css({
							m: '0 0.5rem',
							'&:hover': {
								textDecoration: 'underline'
							}
						})
					)}
					href={`/category/${category}/`}
				>
					{category}
				</a>
			))
		}
	</div>
	<div class={css({ display: 'flex', flexDirection: 'column' })}>
		<slot />
	</div>
</div>
