---
import type { CollectionEntry } from 'astro:content';

type Props = {
	post: CollectionEntry<'blog'>;
};

const { post } = Astro.props;
const {
	data: { category, createdAt, title, draft },
	slug
} = post;
const dev = import.meta.env.MODE === 'development';
---

<div>
	<time>{createdAt.toDateString()}</time>
	<a href={`/blog/${slug}`}>{title} {dev && draft && <span> DRAFT</span>}</a>
	<div></div>
</div>
