---
import type { CollectionEntry } from 'astro:content';

type Props = {
	post: CollectionEntry<'blog'>;
};

const { post } = Astro.props;
const {
	data: { category, createdAt, title, draft },
	slug
} = post;
const dev = import.meta.env.MODE === 'development';
---

<li class="post-link">
	<a href={`/blog/${slug}`}>{title} {dev && draft && <span class="draft"> DRAFT</span>}</a>
	<time>Published on: {createdAt.toDateString()}</time>
</li>

<style>
	.post-link {
		display: flex;
		flex-direction: column;
		gap: var(--spacing-xs);

		a {
			font-size: large;
		}
		time {
			font-size: smaller;
		}
	}
	.draft {
		color: red;
		text-decoration: underline;
		font-size: smaller;
	}
</style>
