---
import clsx from 'clsx';

type Props = {
	categories: string[];
	currentCategory?: string;
};

const { categories } = Astro.props;
const { pathname } = Astro.url;

const colors = []
---

<div>
	<h2>Blog</h2>
	<div class="category-wrapper">
		<a class="category-pill" href="/">All</a>{
			categories.map((category) => (
				<a class="category-pill" href={`/category/${category}/`}>
					{category.charAt(0).toUpperCase() + category.slice(1)}
				</a>
			))
		} 
	</div>
	<ul class="post-timeline">
		<slot />
	</ul>
</div>

<style>
	.category-wrapper {
		display: flex;
		gap: var(--spacing-md);
		margin-bottom: var(--spacing-md);
	}
  
  .category-pill {
    color: var(--color-secondary) !important;
  }

  .category-pill:hover {
    color: #fff !important;
    text-decoration: underline;
  }

	.post-timeline {
		padding: 0;
		li:not(:last-child) {
			margin-bottom: var(--spacing-md);
		}
	}
</style>
