---
import { css } from 'styled-system/css';
interface Props {
	date: Date;
	title: string;
	url: string;
	tag?: string;
	draft?: boolean;
}
const { date, title, url, tag, draft } = Astro.props;
const dev = import.meta.env.MODE === 'development';
---

<div
	class={css({
		padding: '1rem 1.5rem 3rem 1.5rem',
		position: 'relative',
		display: 'flex',
		flexDirection: 'column',
		borderLeftWidth: '2px',
		borderColor: tag === 'personal' ? 'green' : 'purple'
	})}
>
	<time
		class={css({
			color: 'purple',
			fontSize: '14px',
			fontFamily: 'fira'
		})}>{date}</time
	>
	<a
		class={css({
			p: 0,
			fontSize: '18px',
			fontFamily: 'roboto',
			m: '0.5rem 0',
			color: 'textLight',
			textDecoration: 'none',
			'&:hover': {
				cursor: 'pointer',
				textDecoration: 'underline'
			}
		})}
		href={url}>{title} {dev && draft && <span class={css({ color: 'red' })}>DRAFT</span>}</a
	>
	<div
		class={css({
			position: 'absolute',
			left: '-13px',
			top: '32px',
			width: '24px',
			height: '24px',
			borderWidth: '3px',
			borderRadius: '50%',
			borderColor: 'bg',
			backgroundColor: tag === 'personal' ? 'green' : 'purple'
		})}
	>
	</div>
</div>
