---
import { css } from 'styled-system/css';
import { CollectionEntry } from 'astro:content';

type Props = {
	post: CollectionEntry<'blog'>;
};

const { post } = Astro.props;
const {
	data: { category, createdAt, title, draft },
	slug
} = post;
const dev = import.meta.env.MODE === 'development';
---

<div
	class={css({
		padding: '1rem 1.5rem 3rem 1.5rem',
		position: 'relative',
		display: 'flex',
		flexDirection: 'column',
		borderLeftWidth: '2px',
		borderColor: category === 'personal' ? 'green' : 'purple'
	})}
>
	<time
		class={css({
			color: 'purple',
			fontSize: '14px',
			fontFamily: 'fira'
		})}>{createdAt.toDateString()}</time
	>
	<a
		class={css({
			p: 0,
			fontSize: '18px',
			fontFamily: 'roboto',
			m: '0.5rem 0',
			color: 'textLight',
			textDecoration: 'none',
			'&:hover': {
				cursor: 'pointer',
				textDecoration: 'underline'
			}
		})}
		href={`/blog/${slug}`}
		>{title} {dev && draft && <span class={css({ color: 'red' })}>DRAFT</span>}</a
	>
	<div
		class={css({
			position: 'absolute',
			left: '-13px',
			top: '32px',
			width: '24px',
			height: '24px',
			borderWidth: '3px',
			borderRadius: '50%',
			borderColor: 'bg',
			backgroundColor: category === 'personal' ? 'green' : 'purple'
		})}
	>
	</div>
</div>
