<h2>Posts</h2>
<div class="post-container">
  <slot />
</div>
<style>
  h2 {
    color: var(--text-light);
    font-family: var(--font-roboto-slab);
  }

  .post-container {
    display: flex;
    flex-direction: column;
  }

  .coming-soon {
    color: var(--text-light);
    font-family: var(--font-roboto);
  }
</style>
