---
import clsx from 'clsx';

type Props = {
	categories: string[];
	currentCategory?: string;
};

const { categories } = Astro.props;
const { pathname } = Astro.url;
---

<div>
	<h2>Blog</h2>
	<div>
		<a href="/">All</a>{
			categories.map((category) => (
				<a href={`/category/${category}/`}>
					{category.charAt(0).toUpperCase() + category.slice(1)}
				</a>
			))
		}
	</div>
	<div>
		<slot />
	</div>
</div>
