:root {
	/* Fonts */
	--font-sans-serif: sans-serif, sans-serif;
	--font-monospace: monospace, monospace;

	/* Widths */
	--breakpoint-tablet: 768px;
	--max-content-width: 987px;

	/* Spacing */
	--spacing-xxs: 2px;
	--spacing-xs: 4px;
	--spacing-sm: 8px;
	--spacing-md: 16px;
	--spacing-lg: 32px;
	--spacing-xl: 64px;
	--spacing-xxl: 128px;

	/* Colors */
	--color-primary: rgb(134 0 255);
	--color-secondary: #333333;
}

@media (prefers-color-scheme: dark) {
	/* Dark mode */
	:root {
		/* Colors */
		--color-primary: rgb(205 150 255);
		--color-secondary: #cccccc;
	}
}

body {
	font-family: var(--font-monospace);

	a {
		text-decoration: none;
		color: var(--color-primary);
	}
}

@media (prefers-color-scheme: dark) {
	body {
		background-color: #000;
		color: #fff;
	}
}

main {
	margin: 0 auto;
}

@media (min-width: 768px) {
	main {
		margin: 0 auto;
		max-width: var(--max-content-width);
	}
}
