@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&family=Montserrat:wght@500&family=Roboto:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	@apply bg-bg m-0 p-0 text-base;
	font-family: 'Courier Prime', monospace;
	/* font-family: 'Montserrat', sans-serif; */
	/* font-family: 'Roboto', sans-serif; */
}

h1 {
	@apply text-headline font-bold;
	font-family: 'Montserrat', sans-serif;
}

h2 {
	@apply text-headline text-5xl font-bold;
	font-family: 'Montserrat', sans-serif;
}

h3 {
	font-family: 'Montserrat', sans-serif;
}

h4 {
	font-family: 'Montserrat', sans-serif;
}

p {
	@apply text-paragraph text-lg;
}

button {
	@apply h-10 w-48 bg-primary text-headline font-bold border-r-4 cursor-pointer border-none transition-all;
}

section {
	@apply p-32 px-0;
}

/* Blog Post Styling */
.post {
	@apply w-full md:w-3/4 p-8 my-8 mx-auto bg-bgSecondary rounded text-paragraph text-lg;
}

.post img {
	@apply block mx-auto mb-4 w-8/12;
}

.post h3 {
	@apply text-headline text-2xl my-3 text-center underline;
}

.post p {
	@apply mb-4;
}

.post li {
	@apply my-4 list-disc;
}

.post a {
	@apply text-primary p-1 font-bold transition-all;
}

.post a:hover {
	@apply underline;
}

.post pre {
	@apply bg-bg p-3 rounded my-2;
}

.post blockquote {
	@apply bg-bg p-6 rounded border-l-4 my-2 text-headline;
}

.post blockquote p {
	@apply text-headline;
}

.post code {
	@apply bg-bg text-headline p-0.5 rounded;
}

#sub-title {
	font-family: 'Courier Prime', monospace;
}
