---
import '../styles/globals.css';
import type { MarkdownLayoutProps } from 'astro';
import Navbar from '../components/Navbar.astro';

type Props = MarkdownLayoutProps<{
	title: string;
	author: string;
	date: string;
}>;

const { frontmatter } = Astro.props;
---

<html>
	<head>
		<title>{frontmatter.title}</title>
	</head>

	<body>
		<Navbar />
		<div class="container">
			<h1>{frontmatter.title}</h1>
			<slot />
			<br />
			<p>{frontmatter.date}</p>
		</div>

		<style>
			body {
				background: var(--bg);
				margin: 0;
				padding: 0;
			}
			h1 {
				font-family: var(--font-fira);
				color: var(--purple);
				text-decoration: underline;
			}

			/* Have to use global because of how astro renders */
			.container :global(*) {
				font-family: var(--font-roboto);
				line-height: 1.4rem;
			}

			.container {
				margin: 0 auto;
				max-width: var(--content-width);
				color: var(--text-light);
				position: relative;
			}

			@media (max-width: 1060px) {
				.container {
					padding: 0 1rem;
				}
			}
		</style>
	</body>
</html>
